.btn-primary{
    color: #fff;
    background: linear-gradient(120deg, #C19A6B, #6F4E37) !important;
    border-color: #6F4E37 !important;
}


.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}

.reset{
    color: black;
}